<h1>Editing Subject Courses Relation</h1>

<%= render 'form', subject_courses_relation: @subject_courses_relation %>

<%= link_to 'Show', @subject_courses_relation %> |
<%= link_to 'Back', subject_courses_relations_path %>
